API_SECRET_KEY=
API_BASE_URL=http://127.0.0.1:8000


GOOGLE_API_KEY=
GEMINI_API_KEY =
OPENAI_API_KEY=sk-proj----
TAVILY_API_KEY=tvly-dev--

ANTHROPIC_API_KEY=

LANGSMITH_API_KEY=
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=freshers-training
